<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ca.jvsh.audicy"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="12" />

	<application android:name="AudicyApplication"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:hardwareAccelerated="true">

		<activity android:name=".Audicy"
			android:label="@string/app_name" 
            android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>
</manifest>